<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CLIENT_ID</key>
    <string>371664777280-1vsgg9qn7o6oa303br8t2kqpuaenj1d9.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.371664777280-1vsgg9qn7o6oa303br8t2kqpuaenj1d9</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>371664777280-5070dsddrk0jkvk8954ckcdv4ljjglp6.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyCjoA2PZcEvi-evjJi559JTuzJ0WBe2TKs</string>
    <key>GCM_SENDER_ID</key>
    <string>371664777280</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.kkch196247.app.mobile.pro</string>
    <key>PROJECT_ID</key>
    <string>kkch196247-app</string>
    <key>STORAGE_BUCKET</key>
    <string>kkch196247-app.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:371664777280:ios:bebba16bf41aa66feeefa5</string>
  </dict>
</plist>